.move 
{
    transform: translateX(-500px);
    animation: move 2.5s ease 0.1s 1 forwards;
}

.move-2 
{
    transform: translateX(-500px);
    animation: move 2s ease 3s 1 forwards;
}

.move-3 
{
    transform: translateX(-500px);
    animation: move 2s ease 5s 1 forwards;
}

.fade-in-2
{
    opacity: 0;
    animation: fade-in 2s ease 3s 1 forwards;
}

.fade-in 
{
    opacity: 0;
    animation: fade-in 2s ease 5.5s 1 forwards;
}

.fade-in-3
{
    opacity: 0;
    animation: fade-in 2s ease 6s 1 forwards;
}

.flip-header
{
    animation: flip 4s ease-in-out 0.5s infinite;
}

@keyframes flip
{
    0% 
    {
        transform: rotateY(0deg)
        
    }

    50% 
    {
        transform: rotateY(180deg)
    }
    100% 
    {
        transform: rotateY(360deg)
    }
}

@keyframes fade-in
{
    from 
    {opacity: 0; left:0;}
    to {opacity: 1; left:100%;}
}

@keyframes move 
{
    from { transform: translateX(-500px); }
    to  { transform: translateX(0px); }
}