@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .grid-rows-12
    {
        grid-template-rows: repeat(12, minmax(0, 1fr));
    }
    .row-span-10 
    {
        grid-row: span 10 / span 10;
    }
}

body 
{
    @apply bg-slate-900 bg-fixed;
    max-height: 100%;
    background-image: url('./assets/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg');
    background-size:cover;
}

* {
    @apply text-white;
}

h1 
{
    @apply text-xl font-mono italic text-red-400;
}

.headers
{
    @apply text-3xl lg:text-5xl;
}

.main-layout-grid 
{
    @apply grid;
    grid-template-rows: 130px 1fr 36px;
    grid-template-columns: 1fr;
}

nav 
{
    grid-column: span 1 / span 1;
}

span 
{
    @apply font-medium tracking-widest text-teal-100;
}

.main-content 
{
    max-height: 100%;
    height:fit-content;
    overflow:scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
}

.main-content::-webkit-scrollbar
{
    display: none;
}

footer a {
    @apply text-red-300 hover:text-red-100 active:text-red-400 transition-all duration-300;
}